.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    width: 85%;
    margin-right: 6%;
  }
  
  .list-item:hover {
    background-color: #f1f1f1;
  }
  
  .checkbox {
    margin-right: 14px;
  }
  
  .item-checked {
    color: blue;
    text-decoration: line-through;
  }
  
  .item-unchecked {
    color: black;
  }
  
  .delete-button {
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  